WCF_Client/Service References/WcfServices/MCTS_Tk_Chap1_Les1.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MCTS_Tk_Chap1_Les1.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MCTS_Tk_Chap1_Les1.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TaskInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCompeled" type="xs:boolean" />
      <xs:element minOccurs="0" name="TaskNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskInfo" nillable="true" type="tns:TaskInfo" />
  <xs:complexType name="TaskInfoV2">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TaskInfo">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TaskInfoV2" nillable="true" type="tns:TaskInfoV2" />
</xs:schema>