WCF_Client/Service References/WcfServices/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.fabricam.com/2008/04/tasks/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TaskManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.fabricam.com/2008/04/tasks/" location="" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_TaskManagerService" type="i0:TaskManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTask">
      <soap:operation soapAction="http://schemas.fabricam.com/2008/04/tasks/TaskManagerService/AddTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTasksByAssignedName">
      <soap:operation soapAction="http://schemas.fabricam.com/2008/04/tasks/TaskManagerService/GetTasksByAssignedName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskDescription">
      <soap:operation soapAction="http://schemas.fabricam.com/2008/04/tasks/TaskManagerService/GetTaskDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsTaskCompeleted">
      <soap:operation soapAction="http://schemas.fabricam.com/2008/04/tasks/TaskManagerService/IsTaskCompeleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkTaskCompleted">
      <soap:operation soapAction="http://schemas.fabricam.com/2008/04/tasks/TaskManagerService/MarkTaskCompleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInfoFault">
        <soap:fault use="literal" name="FaultInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap:operation soapAction="http://schemas.fabricam.com/2008/04/tasks/TaskManagerService/DeleteTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaskManagerService">
    <wsdl:port name="BasicHttpBinding_TaskManagerService" binding="tns:BasicHttpBinding_TaskManagerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MCTS_Tk_Chap1_Les1/TaskManagerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>