WCF_Client/Service References/WcfServices/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.fabricam.com/2008/04/tasks/" elementFormDefault="qualified" targetNamespace="http://schemas.fabricam.com/2008/04/tasks/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MCTS_Tk_Chap1_Les1.Models" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskParameters" nillable="true" type="tns:TaskParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TaskParameters">
    <xs:sequence>
      <xs:element name="AssignedTo" nillable="true" type="xs:string" />
      <xs:element name="SomeId" type="xs:int" />
      <xs:element minOccurs="0" name="TaskDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskParameters" nillable="true" type="tns:TaskParameters" />
  <xs:element name="AddTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MCTS_Tk_Chap1_Les1.Models" minOccurs="0" name="AddTaskResult" nillable="true" type="q1:TaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksByAssignedName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assignedTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksByAssignedNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTasksByAssignedNameResult" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTaskDescriptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTaskCompeleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTaskCompeletedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsTaskCompeletedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkTaskCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkTaskCompletedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="FaultInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultInfo" nillable="true" type="tns:FaultInfo" />
  <xs:element name="DeleteTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>